.container {
    display: flex;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    max-width: 512px;
    width: 100%;
}