.content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .backArrow {
        padding-right: 20px;
    }

    .text {
        color: #fff;

        .title {
            margin: 4px;
            font-size: 32px;
            font-family: var(--header-font);
        }

        .subtitle {
            margin: 0 4px 4px 4px;
            font-weight: normal;
        }
    }
}
