.accountSettingsContainer {
    padding: 0 15px 15px 25px;
}

.accountSettingsTitle {
    display: flex;
    font-weight: bold;
  
    height: var(--studio-top-bar-height);
  
    align-items: center;
  
  
    padding-top: 32px;
    padding-bottom: 8px;
    margin: 0;
}

.accuntSettingsInput {
    min-width: 350px;
}

.accountSaveBtn {
    margin-top: 10px;
}