.dropdown {
  position: absolute;

  display: flex;
  flex-direction: column;

  background-color: #c3c7cb;
  min-width: 250px;

  border-radius: 8px;
  border: 1px solid #071018;
}

.dropdownOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;

  cursor: pointer;

  border-bottom: 1px solid #071018;

  &:last-of-type {
    border-bottom: none;
  }
}

.selected {
  background-color: #929394;
}