
.container {
    /* limit width usable space */
    max-width: var(--app-prefer-width);
    margin: auto;

    /* center content */
    padding: 22px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.invert {
        .burgerButton {
            filter: invert(1) grayscale(1);
        }
    }
}

.background {
    background-color: white;
}

.burgerButton {
    margin: 0;
    padding: 0;
    border: none;
    background-color: unset;
    &:hover{
        cursor: pointer;
    }
}