.container {
  width: 100%;
}

.actionBar {
  display: flex;
  flex-direction: row;

  width: 100%;

  margin-top: 16px;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 100%;

  min-height: 80px;
  min-width: 160px;

  color: black;
  font-size: 18px;
  text-decoration: none;

  padding: 16px;
  margin-right: 16px;

  cursor: pointer;

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);

  background-color: white;
}