.submit {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
}

.input {
  min-height: 30px;
  padding: 0 8px;
  margin-top: 16px;
  border-radius: 4px;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  width: 100%;
}