.tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 6px;
}


.tag {
    background-color: transparent;
    border-radius: 16px;
    padding: 6px;
    border: 2px solid rgb(192, 16, 16);
    margin-bottom: 10px;
    font-size: 18px;
    font-family: var(--font);
}