.tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
}


.tag {
    padding: 2px 6px;
    border: 2px solid #ffffff;
    border-radius: 16px;

    color: #ffffff;
    font-size: 18px;
    font-family: var(--font);

    &.small {
        border-width: 1px;
        font-size: 14px;
    }
}