.link {
    text-decoration: none;
}
.cardWrapper {
    margin: 8px 0;
    position: relative;
}

.card {
    box-sizing: border-box;

    background-position: left;
    background-size: 51%, 50%;
    background-repeat: no-repeat;

    min-height: 112px;
    padding: 16px;

    border-radius: 16px;
    box-shadow: 0 2px 24px rgba(7, 16, 24, 0.3);

    .title {
        margin: 0;

        color: #FFFFFF;

        font-size: 24px;
        font-family: var(--header-font);
        font-weight: 600;
        line-height: 29px;
    }
    .subtitle {
        margin: 0;

        color: rgba(255, 255, 255, 0.8);

        font-size: 16px;
        line-height: 19px;
        min-height: 19px;
        font-weight: 500;
    }

    .infoSection {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom {
        display: flex;
        height: 20px;
    }
}

.bgImg {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 16px;
    opacity: .4;
    -webkit-mask-image: -webkit-gradient(linear, 50% top, right top, from(#FFF), to(transparent));
    mask-image: linear-gradient(90deg, #FFF 50%, transparent);
}



.timeToEvent {
    display: inline-block;
    padding: 2px 5px;
    background-color: #ffffff;
    border-radius: var(--border-radius);
}

.eventRating {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 46px;
    margin-top: -16px;
    z-index: -999;
    background-color: red;
    position: relative;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 5px;
    text-decoration: none;
}

.clickToRate {
    width: 70%;
    text-align: center;
    color: #ffffff;
}

.timeAfterEventText {
    display: flex;
    justify-content: flex-end;
    margin-right: 6px;
    width: 30%;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .eventRating {
        justify-content: space-around;
    }
    .clickToRate {
        width: auto;
    }
    .timeAfterEventText {
        width: auto;
    }
}