.link {
    text-decoration: none;
}

.card {
    box-sizing: border-box;

    background-position: left;
    background-size: 51%, 50%;
    background-repeat: no-repeat;

    margin: 8px 0;
    min-height: 112px;
    padding: 16px;

    border-radius: 16px;
    box-shadow: 0 2px 24px rgba(7, 16, 24, 0.3);

    .title {
        margin: 0;

        color: #FFFFFF;

        font-size: 24px;
        font-family: var(--header-font);
        font-weight: 600;
        line-height: 29px;
    }
    .subtitle {
        margin: 0;

        color: rgba(255, 255, 255, 0.8);

        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
    }

    .bottom {
        display: flex;

        margin-top: 16px;
        height: 20px;
    }
}

.bgImg {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;

    border-radius: 16px;
    opacity: .4;

    -webkit-mask-image: -webkit-gradient(linear, 50% top, right top, from(#FFF), to(transparent));
    mask-image: linear-gradient(90deg, #FFF 50%, transparent);
}
