.eventLinkContainer {
    display: flex;
    max-width: 265px;
    height: 40px;
    background-color: #fff;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none;
    margin-bottom: 20px;
}

.eventLinkName {
    font-size: 18px;
    font-family: "Lato";
    font-weight: 600;
    color: #1B1F23;
    text-decoration: none;
}
