.eventLinkContainer {
    display: flex;
    width: 210px;
    height: 40px;
    background-color: #fff;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none;

}

.eventLinkName {
    font-size: 18px;
    font-family: "Lato";
    font-weight: 600;
    color: #1B1F23;
    text-decoration: none;
}
