.main {
    background-color: #F3F3F3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content {
    padding: 16px
}

.contentCentred {
    margin-top: -180px;
    padding: 0 40px;
}

.eventInnerContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}

.eventDescriptionContainer {
    width: 100%;
}

.eventOrganizerSection {
    min-width: 275px;
}

.agenda {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--header-font);
}

.eventLinksText {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--header-font);
}

.agendaTime {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: var(--font);
    position: relative;
    margin: 0;
}

.agendaTimeStickTop {
    display: flex;
    justify-content: center;
    font-size: 19px;
    border-radius: 2px;
    font-weight: 800;
    color: black;
    margin: 10px 0 10px 0;
}

.agendaTimeStickBottom {
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-radius: 2px;
    font-weight: 800;
    color: black;
    margin: 10px 0 14px 0;
}

.reatingBtn {
    color: white;
    font-family: var(--font);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 0 0 16px 16px;
}

@media (max-width: 918px) {

    .eventInnerContainer {
        flex-direction: column;
    }

    .eventOrganizerSection {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 520px) {

    .eventOrganizerSection {
        min-width: auto;
    }

    .contentCentred {
        padding: 0 14px;
    }

}