.title {
  margin-top: 32px;

  font-size: 28px;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  text-align: center;
}

.input {
  padding: 16px 48px;

  border: 2px solid #071018;
  border-radius: 16px;

  font-size: 18px;
  text-align: center;
}