.text {
    font-family: Oswald;
    font-size: 24px;
    margin-left: 12px;
}

.text.light {
    color: #FFFFFF;
}

.text.dark {
    color: #000000;
}

.container {
    display: flex;
    align-items: center;
}