.container {
  display: flex;

  height: var(--studio-top-bar-height);

  justify-content: start;
  align-items: center;

  font-size: 32px;
  font-weight: bold;
}

.backArrow {
  padding: 16px;

  cursor: pointer;
}