.button {
    background-color: #009BF9;
    color: #FFFFFF;

    text-align: center;

    border: 0;
    border-radius: 16px;

    cursor: pointer;
    transition: transform .3s;

    &.medium {
        font-size: 24px;
        padding: 10px 72px;
    }

    &.small {
        font-size: 18px;
        padding: 4px 24px;
    }
}

.button:hover {
    transform: scale(1.05);
}