.button {
    background-color: #009BF9;
    color: #FFFFFF;

    font-size: 24px;
    text-align: center;

    padding: 10px 72px;

    border: 0;
    border-radius: 16px;

    transition: transform .3s;
}

.button:hover {
    transform: scale(1.05);
    cursor: pointer;
}