.container {
  display: flex;

  min-height: var(--studio-top-bar-height);
  margin-bottom: 16px;

  justify-content: start;
  align-items: center;

  font-size: 32px;
  font-weight: bold;
}

.backArrow {
  padding: 0 16px;

  min-height: 24px;
  min-width: 24px;

  cursor: pointer;
}