.row {
  display: flex;

  justify-content: space-between;

  width: 100%;

  flex-direction: row;
}

.submit {
  display: flex;

  flex-direction: row-reverse;
}

.mapDiv {
  width: 100%;
  height: 100%;
}