.container {
  display: flex;
<<<<<<< HEAD

  flex-direction: row;
}

.content {
  padding: 16px;

  display: flex;

  flex-direction: column;
=======
  flex-direction: row;

  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;

  padding: 16px 0 16px 16px
>>>>>>> develop
}

.title {
  padding-left: 8px;

  font-size: 24px;
  font-weight: bold;
  color: #717171;
}

.dot {
  min-width: 24px;
  min-height: 24px;

  background-color: #717171;
  border-radius: 16px;
}

.line {
  display: flex;

  width: 3px;
  height: 100%;

  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #717171;
}

.sectionDecorator {
  display: flex;
<<<<<<< HEAD

  margin-top: 4px;

  flex-flow: column;
  align-items: center;
}
=======
  flex-flow: column;
  align-items: center;

  margin-top: 4px;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}
>>>>>>> develop
