.number404 {
    font-family: lato;
    font-size: 300px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #FFFFFF;
}

.marginLeft {
    margin-left: 24px;
}

.marginRight {
    margin-right: 24px;
}