@import "../SkeletonAnim";

.card {
    box-sizing: border-box;

    height: 112px;
    margin: 8px 0;
    padding: 14px 14px;

    background-color: #c3c7cb;

    border-radius: 16px;

    .title {
        @include SkeletonBackgroundAnim;
        height: 24px;
        max-width: 250px;
        margin: 8px 0;
    }

    .subtitle {
        @include SkeletonBackgroundAnim;
        height: 16px;
        max-width: 100px;
        margin: 8px 0;
    }
}