.button {
    background-color: #009BF9;
    color: #FFFFFF;
    border: 0px;
    border-radius: 16px;
    font-size: 24px;
    padding: 10px 72px;
    transition: transform .5s;
}

.margin {
    margin-top: 48px;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}