.organizerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    box-sizing: border-box;
    width: 100%;

    background-color: #fff;

    padding: 0 20px 25px 20px;
    border-radius: var(--border-radius);
}

.organizerLogo {
    margin-top: -32px;

    width: 120px;
    height: 120px;
}

.organizerName {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.organizerBio {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.organizerLinksWrapper {
    margin-top: 7px;    
}