.headline {
    --padding: 14px;
    box-sizing: border-box;
    min-height: 113px;
    padding: var(--padding) 0;
    border-radius: 16px;
    box-shadow: 0 2px 24px rgba(7, 16, 24, 0.3);
    display: flex;
    max-height: 113px;
    align-items: center;
}

.bgImg {
    display: flex;
    height: 113px;
    border-radius: 16px;
    opacity: .4;
    -webkit-mask-image: -webkit-gradient(linear, 50% top, right top, from(#FFF), to(transparent));
    mask-image: linear-gradient(90deg, #FFF 50%, transparent);
}

.eventTitle {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.title {
    font-family: lato;
    font-weight: bold;
    font-size: 38px;
    color: #FFFFFF;
    display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}