.container {
    min-height: 100vh;
    background-color: #f3f3f3;
}

.pageContainer {
    display: flex;
}

.logo {
    font-weight: bold;
    margin: 0;
}

.separator {
    width: 3px;
    background-color: #e2e2e2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}