body {
  position: relative;
}

main {
  position: relative;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--studio-top-bar-height);
  margin-bottom: 16px;

  font-size: 32px;
}