.button {
    background-color: transparent;
    color: #071018;
    border: 2px solid #071018;
    border-radius: 16px;
    font-size: 24px;
    padding: 10px 48px;
    transition: transform .5s;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}