@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --app-prefer-width: 1024px;

    --border-radius: 16px;
    --font: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}
