.authContainer {
  display: flex;
  flex-direction: column;

  height: 100vh;

  z-index: 2;
}

.contentContainer {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.authDialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 2;
}