.link {
    text-decoration: none;
}

.card {
    --padding: 14px;

    box-sizing: border-box;
    position: relative;

    margin: 8px 0;
    min-height: 113px;
    padding: var(--padding) var(--padding) 48px;

    border-radius: 16px;
    box-shadow: 0 2px 24px rgba(7, 16, 24, 0.3);
}

.bgImg {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;

    border-radius: 16px;
    opacity: .4;

    -webkit-mask-image: -webkit-gradient(linear, 50% top, right top, from(#FFF), to(transparent));
    mask-image: linear-gradient(90deg, #FFF 50%, transparent);
}
.title {
    position: relative;
    padding: 0;
    margin: 0;

    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}
.subtitle {
    position: relative;
    padding: 0;
    margin: 0;

    font-size: 16px;
    line-height: 19px;
    font-weight: normal;

    color: rgba(255, 255, 255, 0.8);
}

.bottom {
    position: absolute;
    display: flex;

    bottom: var(--padding);
    left: var(--padding);
}