.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name {
  align-self: flex-end;

  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  text-align: end;
  font-weight: bold;
  user-select: none;
}

.item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  max-width: 150px;
  height: 75px;
  padding: 8px;

  border: 0;
  border-radius: 16px;

  background-color: #C4C4C4;

  &:hover {
    background-color: #8E8E8E;
  }

  &.selected {
    background-color: #009BF9;
  }
}

.help {
  position: relative;
  display: inline-block;

  & .helpText {
    visibility: hidden;

    width: 120px;
    bottom: calc(100% + 10px);
    left: 50%;
    margin-left: -60px;

    background-color: black;
    border-radius: 8px;
    padding: 4px 0;

    text-align: center;
    color: #fff;

    position: absolute;
    z-index: 1;
  }

  &:hover .helpText {
    visibility: visible;
  }

  & .helpText::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}