.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 150px;
  margin: 8px;

  background-color: #FFFFFF;

  border-radius: var(--border-radius);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  padding: 8px;
  width: 100%;

  user-select: none;
  cursor: pointer;
}

.separator {
  display: flex;
  height: 2px;
  margin: 0;
  width: calc(100% - 32px);

  box-sizing: border-box;

  background-color: transparentize(#DBDCDD, 0.1);
  border: none;
}